.plans {
  padding: 5.6vw;
  background-image: url(../images/fundo_regularshow.jpg);


  h2 {
    text-align: center;
    margin-left: -50px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    gap: 32px;
    margin-top: 50px;

    @media (max-width: 768px){
      display: block;
    }

    &__item {
      text-align: center;
      padding: 60px 44px 44px;
      max-width: 380px;
      width: 100%;

      img {
        margin-left: -70px;
      }


      &:nth-child(2) {
        background-image: url(../images/fundo_combo_plus.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 600px;
      }

      strong {
        display: block;
        margin-top: 24px;

      }

      img {
        height: 83px;
        max-width: 100%;
    
    }
    }
  }

  p {
    text-align: center;
  }

  .button{
    margin-left: 20px;
  }

}
