.watch-anywhere {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-image: url(../images/fundo_regularshow.jpg);

    @media (max-width: 768px) {
        display: block;
    }

    


    img {
        max-width: 100%;
    }

    &__text_container {
        padding: 0 2vw;

        h2 {
            margin-bottom: 24px;
        }
    }

    .title, .text--big {
  margin-left: 0;
  margin-right: 0;
  text-align: left;
}

    
}