@use 'hero';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

$corDeFundo: #040714;
$corTextoPrincipal: silver; 
$corTextoSecundaria: #f9f9f9;


body {
    background-color: $corDeFundo;
}

@mixin title ($fonteSize: 40px) {
        @include text ($fonteSize);
        color: $corTextoSecundaria;
}

@mixin text ($fonteSize: 16px) {
    font-size: $fonteSize;
    line-height: $fonteSize + 10px;
    color: $corTextoPrincipal;
}

.text--big {
    @include text (18px);
}

.text {
    @include text;
}

.text--small {
    @include text (12px);
}

.link-text {
    @include text (18px);
    color: $corTextoSecundaria;
    text-decoration: underline
}

.title--big {
    @include title (44px);
}

.title {
    @include title;
}

.title--small {
    @include title (28px);
}